<div class="jumbotron">
    <h1>Agencia de Viajes ETECH</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Registrar Viajeros</h2>
        <p>@Html.ActionLink("Viajeros", "Index", "Viajeros", new { @class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Registrar Viajes Disponibles</h2>
        <p>@Html.ActionLink("Viajes Disponibles", "Index", "Viajes_Disponibles", new { @class="btn btn-primary" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Registrar Viajes para los Viajeros</h2>
        <p>@Html.ActionLink("Solicitar Viaje", "Index", "SolicitarViaje", new { @class = "btn btn-primary" }) </p>
    </div>
</div>
